@using TutorApp.Web.Helper;
@{
                /**/

                ViewBag.Title = "Accounttype";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section id="hero_in" class="general">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Register Yourself</h1>
            </div>
        </div>
    </section>
    <!--/hero_in-->
    <div class="container margin_60_35 ">
        <div class="pricing-container cd-has-margins">
            <div class="pricing-switcher">
                <p class="fieldset">
                    <input type="radio" name="duration-2" value="monthly" id="monthly-2" checked>
                    <label for="monthly-2">Teacher</label>
                    <input type="radio" name="duration-2" value="yearly" id="yearly-2">
                    <label for="yearly-2">Student</label>
                    <span class="switch"></span>
                </p>
            </div>
            <!--/pricing-switcher -->
            <ul class="pricing-list bounce-invert">
                <li>
                    <ul class="pricing-wrapper" style="margin-top:20px;">
                        <li data-type="monthly" class="is-visible" style=" background-image: -moz-linear-gradient( 136deg, rgb(116,235,213) 0%, rgb(63,43,150) 100%);background-image: -webkit-linear-gradient( 136deg, rgb(116,235,213) 0%, rgb(63,43,150) 100%);background-image: -ms-linear-gradient( 136deg, rgb(116,235,213) 0%, rgb(63,43,150) 100%);">
                            <header class="pricing-header">
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </header>
                            <!-- /pricing-header -->
                            <div class="pricing-body">
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </div>
                            <!-- /pricing-body -->

                        </li>
                        <li data-type="yearly" class="is-hidden" style=" background-image: -moz-linear-gradient( 136deg, rgb(116,235,213) 0%, rgb(63,43,150) 100%);background-image: -webkit-linear-gradient( 136deg, rgb(116,235,213) 0%, rgb(63,43,150) 100%);background-image: -ms-linear-gradient( 136deg, rgb(116,235,213) 0%, rgb(63,43,150) 100%);">
                            <header class="pricing-header">
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </header>
                            <!-- /pricing-header -->
                            <div class="pricing-body">
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </div>
                            <!-- /pricing-body -->

                        </li>
                    </ul>
                    <!-- /pricing-wrapper -->
                </li>
                <li class="popular">
                    <ul class="pricing-wrapper text-center center-block">
                        <li data-type="monthly" class="is-visible">
                            <header class="pricing-header">
                                <h2>Teacher Account</h2>
                                <div class="price">

                                    <span class="price-value">
                                        <a><i class="fas fa-chalkboard-teacher"></i></a>
                                    </span>

                                </div>
                            </header>
                            <!-- /pricing-header -->
                            <div class="pricing-body">
                                <ul class="pricing-features">
                                    <li>Get Online & Offline Tutions</li>
                                    <li>Earn upto your Standards</li>
                                    <li>Pormote your Skills</li>
                                    <li>Provide Video Lessons</li>
                                    <li>Give you own Notes</li>
                                    <li><em>24/7</em> Support</li>
                                </ul>
                            </div>
                            <!-- /pricing-body -->
                            <footer class="pricing-footer">
                                <a class="select-plan" href="@Url.TeacherRegister()">Create</a>
                            </footer>
                        </li>

                        <li data-type="yearly" class="is-hidden">
                            <header class="pricing-header">
                                <h2>Student Account</h2>
                                <div class="price">

                                    <span class="price-value">   <a><i class="fas fa-user-graduate"></i></i></a></span>

                                </div>
                            </header>
                            <!-- /pricing-header -->
                            <div class="pricing-body">
                                <ul class="pricing-features">
                                    <li>Get Online & Offline Tutors</li>
                                    <li>Learn from Video COurses</li>
                                    <li>Easily available collection of Courses</li>
                                    <li>Prepare for you Exam</li>
                                    <li>Learn Skills from a variety of Courses</li>
                                    <li><em>24/7</em> Support</li>
                                </ul>
                            </div>
                            <!-- /pricing-body -->
                            <footer class="pricing-footer">
                                <a class="select-plan" href="@Url.StudentRegister()">Create</a>
                            </footer>
                        </li>
                    </ul>
                    <!-- /cd-pricing-wrapper -->
                </li>
                <li>
                    <ul class="pricing-wrapper" style="margin-top:20px;">
                        <li data-type="monthly" class="is-visible" style=" background-image: -moz-linear-gradient( 136deg, rgb(116,235,213) 0%, rgb(63,43,150) 100%);background-image: -webkit-linear-gradient( 136deg, rgb(116,235,213) 0%, rgb(63,43,150) 100%);background-image: -ms-linear-gradient( 136deg, rgb(116,235,213) 0%, rgb(63,43,150) 100%);">
                            <header class="pricing-header">
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </header>
                            <!-- /pricing-header -->
                            <div class="pricing-body">
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </div>
                            <!-- /pricing-body -->

                        </li>
                        <li data-type="yearly" class="is-hidden" style=" background-image: -moz-linear-gradient( 136deg, rgb(116,235,213) 0%, rgb(63,43,150) 100%);background-image: -webkit-linear-gradient( 136deg, rgb(116,235,213) 0%, rgb(63,43,150) 100%);background-image: -ms-linear-gradient( 136deg, rgb(116,235,213) 0%, rgb(63,43,150) 100%);">
                            <header class="pricing-header">
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </header>
                            <!-- /pricing-header -->
                            <div class="pricing-body">
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </div>
                            <!-- /pricing-body -->

                        </li>
                    </ul>
                    <!-- /pricing-wrapper -->
                </li>
            </ul>
            <!-- /pricing-list -->
        </div>
        <!-- /pricing-container -->
    </div>
    <!-- /container -->
    <!--/bg_color_1-->
</main>
<!--/main-->
