@using TutorApp.Web.Helper;
@model TutorApp.Web.ViewModels.ListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="EduTime">
    <meta name="author" content="EduTime">
    <title>EduTime</title>
    <!-- Favicons-->
    <link rel="shortcut icon" href="~/content/Database_Images/57.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/content/Database_Images/57.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/content/Database_Images/72.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/content/Database_Images/114.png">
    <!-- BASE CSS -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
    <link href="~/content/css/vendors.css" rel="stylesheet">
    <link href="~/content/css/icon_fonts/css/all_icons.min.css" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="~/content/css/skins/square/grey.css" rel="stylesheet">
    <link href="~/content/css/wizard.css" rel="stylesheet">
    <!-- YOUR CUSTOM CSS -->
    <link href="~/content/css/custom.css" rel="stylesheet">
    <style>

.circle-loader {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left-color: #5cb85c;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

.load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: #5cb85c;
    transition: border 500ms ease-out;
}

.checkmark {
    display: none;
}

    .checkmark.draw:after {
        animation-duration: 800ms;
        animation-timing-function: ease;
        animation-name: checkmark;
        transform: scaleX(-1) rotate(135deg);
    }

    .checkmark:after {
        opacity: 1;
        height: 1.5em;
        width: 0.75em;
        transform-origin: left top;
        border-right: 3px solid #5cb85c;
        border-top: 3px solid #5cb85c;
        content: '';
        left: 0.70em;
        top: 1.5em;
        position: absolute;
    }


@@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 1.75em;
        opacity: 1;
    }

    40% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1;
    }

    100% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1;
    }
}


    </style>
</head>
<body id="admission_bg">

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div>
    <!-- End Preload -->

    <div id="form_container" class="clearfix">
        <figure>
            <a href="index.html"><img src="~/content/Database_Images/57.png" width="149" height="42" data-retina="true" alt=""></a>
        </figure>
        <div id="wizard_container">
            <div id="top-wizard">
                <div id="progressbar"></div>
            </div>
            <!-- /top-wizard -->
            <form name="example-1" id="wrapped" method="post">
                <input id="website" name="website" type="text" value="">
                <!-- Leave for security protection, read docs for details -->
                <div id="middle-wizard">
                    <div class="step">
                        <div id="intro">
                            <figure><img src="~/content/img/MetroUI_ZIP_Archive.png" width="100%" height="auto" alt=""></figure>
                            <h1>Upload Files</h1>
                            <p>Providing your own notes can greatly enhence student learning, and can also gives you the edge you needed in Teaching.</p>
                            <p><strong>Upload your own material or Collegues so that students can learn from you even when you are not available.</strong></p>
                        </div>
                    </div>
                    <div class="step">
                        <h3 class="main_question"><strong>1/3</strong>Please fill File Details</h3>
                        <div class="form-group">
                            <input type="text" name="Name" class="form-control required" placeholder="File Title">
                        </div>

                        <div class="form-group">
                            <input type="text" name="Description" class="form-control required" placeholder="Your File Description">
                           
                            <input type="hidden" name="Date" class="date">
                            <input type="hidden" name="WriterID" class="" value="@Model.Teacher.ID">
                        </div>

                    </div>
                    <div class="step">
                        <h3 class="main_question"><strong>2/3</strong>Please Select Video Category</h3>

                        <div class="form-group select">
                            <div class="styled-select">
                                <select name="CategoryID" id="education_apply">
                                    @foreach (var categ in Model.FileCategory)
                                    {
                                        <option value="@categ.ID">
                                            @categ.Name
                                        </option>
                                    }
                                </select>

                            </div>
                        </div>

                    </div>
                    <!-- /step-->
                    <div class="submit step">

                        <h3 class="main_question"><strong>3/3</strong>Upload your File</h3>


                        <label>File</label>
                        <input id="FileUrl" name="FilePath" type="hidden" />
                        <input type="file" id="FileUpload" name="FilePath" /><br />
                        <div class="circle-loader">
                            <div class="checkmark draw"></div>
                        </div>
                        <br />
                        <label class="size">100MB Size Limit</label>
                        <br />

                    </div>
                    <!-- /step-->

                </div>
                <!-- /middle-wizard -->
                <div id="bottom-wizard">
                    <button type="button" name="backward" class="backward">Backward </button>
                    <button type="button" name="forward" class="forward">Forward</button>
                    <button type="submit" name="process" class="submit">Upload File</button>
                </div>
                <!-- /bottom-wizard -->
            </form>
        </div>
        <!-- /Wizard container -->
    </div>
    <!-- /Form_container -->
    <!-- Modal terms -->
    <div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                    <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                    <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn_1" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- COMMON SCRIPTS -->
    <script src="~/content/js/jquery-2.2.4.min.js"></script>
    <script src="~/content/js/common_scripts.js"></script>
    <script src="~/content/js/main_admission.js"></script>
    <script src="~/content/assets/validate.js"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script src="~/content/js/jquery-ui-1.8.22.min.js"></script>
    <script src="~/content/js/jquery.wizard.js"></script>
    <script src="~/content/js/jquery.validate.js"></script>
    <script src="~/content/js/admission_func.js"></script>
    <script>
        $(".submit").attr("disabled", "disabled");
        $('.circle-loader').hide();

        $(".submit").click(function(){
            var d = new Date();
            var strDate = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
            $(".date").val(strDate)
        });


            
        $("#FileUpload").change(function () {
            $('.circle-loader').show();
        var element = this;
        var formData = new FormData();
        var totalfiles = element.files.length;

        for (var i = 0; i < totalfiles; i++) {
            var file = element.files[i];
            formData.append("File", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Fileuploader()',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false

        })
        .done(function (response) {
            console.log(response);

            if (response.Success) {
              
                $("#FileUrl").val(response.FileUrl);
                $('.checkmark').toggle();
                $('.circle-loader').toggleClass('load-complete');
                $(".submit").removeAttr("disabled");
            }
            })
       .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });

    });

    </script>
</body>
</html>
