
@{
    ViewBag.Title = "LoginCheck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center ">
    <div class="alert alert-danger"><h2>You Need to SignIn in order to Proceed!</h2></div>
    <div class="row">
        <div class="col-md-6"><a href="/Home/Accounttype" class="btn btn-primary btn-lg">SignUp</a></div>
        <div class="col-md-6"><a href="/Home/Login" class="btn btn-primary btn-lg">SignIn</a></div>
    </div>
</div>

