@using TutorApp.Web.Helper;
@model TutorApp.Web.ViewModels.ListViewModel



<form method="post" id="createproduct" class="form container-fluid row">

    <div class="col-md-12">
        <h1>Create Form</h1><br>
        <div class="select">
            <select name="CategoryID">
                @foreach (var categ in Model.Courses)
                {
                    <option value="@categ.ID">
                        @categ.Name
                    </option>
                }
            </select>
        </div>
        <br />

        <input type="text" name="Name" placeholder="Type Name Here" />

        <br />


        <input type="text" name="Description" placeholder="Type Description Here" />

        <br />

      


     

        <button type="button" id="createbtn">Create Record</button>
        <button type="button" id="cancelbtn">Cancel</button>
    </div>
    
</form>

<script>
    $("#cancelbtn").click(function () {
        $("#actioncontainer").html("");
    });


    $("#createbtn").click(function () {

        $.ajax({
            type: "POST",
            url: "@Url.CreateCourseField()",
            data: $("#createproduct").serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
            })
            .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });
    });

  

</script>
