@using TutorApp.Web.Helper;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <br />
    <br />
    <br />

    <!--******************* Body Content *********************/-->
    <h1>Video Category Page</h1>
    <form method="post" class="container-fluid">

        <button type="button" id="newbtn">New Record</button>
        <input id="searchtxt" class="searchtext" name="Search" placeholder="Search Here" />
        <button id="Resetbtn">Reset</button>
        <a href="/Login/Index/@Convert.ToInt16(Session["userid"])" class="pull-right back glyphicon glyphicon-arrow-left"></a>
    </form>
    <hr />
    <div id="tablecontainer" class="container-fluid">

        @{

            Html.RenderAction("_VideoCategtable");
        }

    </div>
    <hr />
    <div id="actioncontainer" class="container-fluid">

    </div>

</div>
<br />
<script>
        $("#Resetbtn").click(function () {
              $.ajax({
               url: "@Url.VideoCategoryTable("")",

        })
        .done(function (response) {
            $("#tablecontainer").html(response);
            $("#searchtxt").val("");
        })
        .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });


            event.preventDefault();
         });


         $("#searchtxt").on('input', function () {
            $.ajax({
            url: "@Url.VideoCategoryTable("")",
            data: {
                Search: $("input[name=Search]").val()

            }
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
            })
            .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });
        event.preventDefault();
    });



        $("#newbtn").click(function () {

            $.ajax({
                url: "@Url.CreateVideoCategory()",

            })
                .done(function (response) {
                    $("#actioncontainer").html("");
                    $("#actioncontainer").html(response);
                })
                .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });
         $([document.documentElement, document.body]).animate({
             scrollTop: $("#actioncontainer").offset().top
         }, 1000);
     });


</script>


