@using TutorApp.Web.Helper;

<h2>Operations</h2>
<form method="post" id="createStudent" class="form container-fluid row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>Create Form</h1>
        <br />
        <input type="text" name="Name" placeholder="Type First Name Here" />
        <br />
        <input type="text" name="LName" placeholder="Type Last Name Here" />
        <br />
        <input type="text" name="Email" placeholder="Type Email Here" />
        <br />
        <input type="text" name="Password" placeholder="Type Password Here" />
        <br />
        <input type="text" name="PhoneNumber" placeholder="Type Phone Number Here" />
        <br />
        <label>Gender</label><br />
        <input type="radio" name="Gender" value="Male" id="featuretrue" /><label for="featuretrue">Male</label>
        <input type="radio" name="Gender" value="Female" id="featurefalse" /><label for="featurefalse">Female</label>

        <br />
        <label>Date of Birth</label>
        <input type="date" name="DOB" placeholder="" />
        <br />
        <input type="text" name="ZipCode" placeholder="Type ZipCode Here" />
        <br />
        <br />
        <button type="button" id="createbtn">Create Record</button>
        <button type="button" id="cancelbtn">Cancel</button>
    </div>
    
</form>


<script>
    $("#createbtn").click(function () {
        $.ajax({
            type: "POST",
            url: "@Url.CreateStudent()",
            data: $("#createStudent").serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
            })
            .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });
    });

    $("#cancelbtn").click(function () {
        $("#actioncontainer").html("");
        $([document.documentElement, document.body]).animate({
            scrolltop: $("#tablecontainer").offset().top
        }, 1000);
    });




</script>

