@using TutorApp.Web.Helper;

<h2>Operations</h2>
<form method="post" id="createStudent" class="form container-fluid row">

    <div class="col-md-12">
        <h1>Create Form</h1>
        <br />
        <input type="text" name="Name" placeholder="Type Name Here" />
        <br />
        <input type="text" name="Email" placeholder="Type Email Here" />
        <br />
        <input type="text" name="Password" placeholder="Type Password Here" />
        <br />
        <input type="text" name="ZipCode" placeholder="Type ZipCode Here" />
        <br />
        <br />
        <button type="button" id="createbtn">Create Record</button>
        <button type="button" id="cancelbtn">Cancel</button>
    </div>
    
</form>


<script>
    $("#createbtn").click(function () {
        $.ajax({
            type: "POST",
            url: "@Url.CreateStudent()",
            data: $("#createStudent").serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
            })
            .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });
    });

    $("#cancelbtn").click(function () {
        $("#actioncontainer").html("");
        $([document.documentElement, document.body]).animate({
            scrolltop: $("#tablecontainer").offset().top
        }, 1000);
    });




</script>

